<% layout("/layouts/boilerplate") %>
<body>
    <h1 class="new-head "><%= data.title %></h1>
    <div class="card-box">
            <div class="card show-card">
                <img src="<%= data.image.path %>" class="card-img-top show-img" alt="wait for sec">
            <div class="card-body">
                <p class="card-text show-text mb-1">Owned By: <%= data.owner.username %></p>
                <p class="card-text show-text"><%= data.description %></p> <br>
                <p class="card-text show-text "> &#8377; <%= data.price.toLocaleString("en-IN") %>/night</p> <br>
                <p class="card-text show-text"><%= data.location %></p> <br>
                <p class="card-text show-text"> <%= data.country %></p> <br>   
                
            </div>
            </div>   
    </div>        
            <div class="flex-box">
                <% if(currUser&& currUser._id.equals(data.owner._id)) {%>
                <form action="/listings/<%= data.id %>?_method=Delete" method="POST">
                    <button class="btn btn-dark btn-lg show-btn">Delete Listing</button>
                </form>
                <a class="btn btn-dark add-btn btn-lg show-a" href="/listings/<%= data.id %>/edit">Edit listing</a>
                <% } %>
                <a class="btn btn-dark add-btn btn-lg show-a"  href="/listings">Back</a>
            </div>   
    <hr>
    <h4>Leave a review</h4>
    <form action="/listings/<%= data.id %>/reviews" class="mb-3 mt-3 needs-validation" method="post" novalidate>
        <div class="mb-3 ">
            <label for="comment"  class="form-label">Comment</label>
            <textarea name="comment" id="comment"class="form-control" placeholder="Please Enter A Review Here..." required></textarea>
            <div class="valid-feedback">Nicely Done!!</div>
            <div class="invalid-feedback">Please Enter A Comment!!</div>
       </div>
       <fieldset class="starability-slot">
        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
        <input type="radio" id="first-rate1" name="rating" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="rating" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="rating" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="rating" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="rating" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
      <button type="submit" class="btn btn-outline-danger">Submit</button>
    </form>
    <hr>
    <h3>All reviews</h3>
    <div class="review-box mb-3">
        <% for(review of data.reviews){ %>
            <div class="card border border-black">
                <div class="card-body review p-2">
                    <h5 class="card-title">Postedby:@<%= review.author.username%></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary"><p class="starability-result" data-rating=<%= review.rating %>></p></h6>
                    <p class="card-text"><%= review.comment %></p>
                    <% if(review.author._id.equals(currUser._id)) {%>
                    <form action="/listings/<%= data.id %>/reviews/<%= review.id %>?_method=Delete" class="mt -3" method="post">
                        <button class="btn btn-dark">Delete</button>
                    </form>
                    <% } %>
                </div>
                
            </div>
        <% } %>
   </div>
</body>
